/*
 * File: style.css
 *
 * The stylesheet for the Flying Dutchman!
 *
 * Author: Rosemary Lima
 * -----
 * Last Modified: Monday, 7th March 2022
 * Modified By: David Kopp (mail@davidkopp.de>)
 */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.hidden {
    display: none;
}

/*=============Language Switcher================*/

.language-button {
    width: 10px;
}

/*=============Menu Page================*/

.menu-item {
    max-width: 300px;
    padding: 10px;
    margin: 10px;
}

.menu-item-beer {
    border: solid 3px brown;
}

.menu-item-wine {
    border: solid 3px violet;
}

.menu-item-drink {
    border: solid 3px gold;
}

.menu-item-water {
    border: solid 3px aqua;
}

.menu-item-other {
    border: solid 3px red;
}

.menu-item-name {
    font-weight: bold;
}

.menu-item-is-low-in-stock {
    background-color: lightgray;
}

/*=============Landing Page================*/
.align {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #f2f2f2;
    align-items: center;
}
.align .left h1 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
}
.align .right {
    padding-right: 20px;
}
.align .right ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.align .right ul li a {
    display: inline-block;
    padding: 0 10px;
    color: #000;
    text-decoration: none;
}

/*
TODO: Are these definitions relevant? They are currently not used in any HTML file.

.banner {
    background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 54px);
    position: relative;
}
.banner .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.banner .overlay .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}
.banner .overlay .content h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}
*/

.lang {
    position: absolute;
    top: 20px;
    right: 40px;
}
#menu_wrapper .lang {
    top: 70px;
    right: 20px;
}
.lang button,
.lang-flag button {
    display: inline-block;
    padding: 5px 20px;
    border: none;
}
.banner .overlay .content .routes {
    margin: 15px 0;
}
.btn {
    border: none;
    display: inline-block;
    color: #000;
    background-color: #f2f2f2;
    text-decoration: none;
    padding: 10px;
    min-width: 125px;
    text-align: center;
    font-weight: 500;
}
.btn-waiter {
    background-color: #8a3704;
    color: #fff;
    min-width: unset;
}
.btn-bill {
    background-color: #d9810f;
    color: #fff;
    min-width: unset;
}

/*===================Login================*/
.login_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #033d66;
}
.login {
    max-width: 400px;
    width: 100%;
    padding: 40px 20px 30px;
    background-color: #fff;
}
.box {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
.box label {
    margin-bottom: 0;
    min-width: 80px;
    margin-bottom: 0;
}
.box .input_box {
    margin-left: 20px;
    max-width: 300px;
    width: 100%;
}
.box .input_box input,
.box .input_box select {
    height: 30px;
    border: 1px solid #e1e1e1;
    outline: none;
    width: 100%;
    padding-left: 10px;
}
.login #login-form-submit {
    width: 100%;
    display: block;
    padding: 10px;
    font-weight: 500;
    border: none;
    background-color: #3458eb;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}

.mb-20 {
    margin-bottom: 20px;
}
.text-center {
    text-align: center;
}
.text-white {
    color: #fff;
}
.mt-20 {
    margin-top: 20px;
}

/*==============Menu==============*/
#menu_wrapper {
    background-color: #033d66;
}
#menu_wrapper h1 {
    padding: 10px 10px;
}
#menu_wrapper .filter {
    justify-content: center;
    margin-bottom: 20px;
}
#menu-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.menu-item {
    max-width: 300px;
    width: 100%;
    color: #f2f2f2;
}

.order-placement {
    position: relative;
    max-width: 500px;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 40px;
}
.order-container {
    width: 100%;
    border: 1px solid #e2e2e2;
    min-height: 100px;
}
.order-action {
    text-align: right;
}
.order-action .material-icons {
    cursor: pointer;
}
/*============VIP_Dashboard=============*/
.sub_header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    color: #fff;
}
.sub_header h1 {
    font-size: 40px;
    font-weight: 500;
}
.sub_header .btn_vip {
    border: none;
    display: inline;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 14px;
}
.items-order-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.items-order-list .item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.items-order-list .item .thumbnail,
.drag-drop-wrapper .thumbnail,
.filter-wrapper .thumbnail {
    width: 75px;
    height: 75px;
    border: 2px solid #e2e2e2;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}
.items-order-list .item .thumbnail img,
.drag-drop-wrapper .thumbnail img,
.filter-wrapper .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
footer .footer-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
footer .footer-align .details-btn {
    max-width: 200px;
    width: 100%;
}
footer .footer-align .details-btn button,
footer .footer-align .logout_btn {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
}
/*=================Drag & Drop==================*/
.drag-drop-wrapper {
    max-width: 800px;
    margin: 20px auto;
}
.drag-drop-wrapper .search-box {
    display: flex;
}
.wrapper {
    max-width: 685px;
    width: 100%;
    border: 2px solid #eee;
    margin: 0 auto;
    padding: 20px;
}
.wrapper .input-search-box {
    max-width: 100%;
    position: relative;
    margin-bottom: 10px;
}
.wrapper .input-search-box input {
    height: 46px;
    padding-left: 10px;
    width: 100%;
}
.wrapper .input-search-box .btn-search {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: #3458eb;
    color: #fff;
    cursor: pointer;
}

.drag-drop {
    min-height: 40vh;
}
.drag-drop-area .thumbnail {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
.btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    align-items: center;
}
.btn-wrapper .details-btn {
    max-width: 200px;
    width: 100%;
}
.btn-wrapper .details-btn button {
    max-width: 60px;
    width: 100%;
    margin: 5px;
    padding: 5px;
}
.logout .logout_btn {
    padding: 5px;
}
.bg-color {
    background-color: #0c4068;
}

/*=======================
Listing Page
========================*/
.lang-flags {
    text-align: right;
    padding: 10px;
}
.flag button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f2f2f2;
}
header {
    background-color: rgba(35, 81, 114, 255);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo h1 {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    padding-left: 60px;
}
header .available-options button {
    border: none;
    background-color: transparent;
    margin: 0 4px;
}
header .available-options button i {
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
}
header .available-options button .fa-mobile-alt {
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #2f9af0;
    color: #000;
}
header .available-options button span {
    display: inline-block;
    background-color: #f0d420;
    padding: 10px;
    font-weight: 500;
}
.bg-blue {
    background-color: #2f9af0;
}
.filter-button {
    padding: 10px;
    max-width: 1500px;
    margin: 10px auto;
}
.text-right {
    text-align: right;
}
.filter-button button {
    border: 2px solid #6cafe5;
    background-color: #2d9bf1;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.filter-button button.active {
    background-color: #fff;
}
.filter-wrapper {
    max-width: 1500px;
    margin: 20px auto;
    display: flex;
}
.filter-wrapper .filter-list {
    flex: 0 0 15%;
}
.filter-wrapper .filter-result {
    margin-left: 20px;
    flex: 0 0 85%;
}
.filter-wrapper .list-item {
    display: flex;
    flex-wrap: wrap;
}
.filter-wrapper .list-item .item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border: 2px solid #51cfe6;
    width: 240px;
    height: 150px;
    border-radius: 40px;
    margin: 0 10px 10px 0;
    background-color: #6bb2e8;
}
.filter-wrapper .list-item .item ul {
    list-style: none;
}
.filter-wrapper .list-item .item img {
    width: 70px;
    align-self: center;
}

/*=======================
Staff dashboard
========================*/

.order-table-number {
    font-size: 50px;
    font-weight: 900;
    color: white;
    cursor: pointer;
}

.order-table-number:hover {
    -webkit-mask-image: linear-gradient(
        -75deg,
        rgba(0, 0, 0, 0.6) 30%,
        #000 50%,
        rgba(0, 0, 0, 0.6) 70%
    );
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

#staff-dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #033d66;
}

.overview-container {
    margin: 30px;
}

.overview-list-container {
    text-align: center;
    position: relative;
    height: 50vh;
    width: 320px;
    padding: 20px;
    overflow: auto;
}

.overview-header {
    padding: 10px 0px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}

#orders-list-container {
    background-color: #8fd14f;
}

#inventory-list-container {
    background-color: #79a1c6;
}

.order-details-order-element {
    margin: 10px;
    background-color: #ec9898;
    padding: 10px;
}

#order-details-list ul {
    margin-left: 30px;
}

.inventory-element {
    cursor: pointer;
    margin: 40px 0px;
}

.inventory-element img {
    min-width: 100px;
}

.inventory-has-items-running-low {
    border: 3px solid red;
}

.table-element {
    margin: 40px;
}

.overview-container-footer {
    background-color: lightgray;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
}

.overview-buttons {
    background-color: #385871;
    padding: 5px;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.overlay-button {
    background-color: #79a1c6;
    padding: 5px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.overlay-details-label {
    font-weight: 600;
    font-size: 24px;
}

.overlay-details-value {
    font-size: 24px;
}

.overlay-details-heading {
    font-size: 32px;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    /*display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    transform: zoom-in 1s ease;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: lightcoral;
    padding: 30px;
    min-width: 16em;
}

.overlay-close-button {
    width: 1em;
    float: right;
    border: orange;
    cursor: pointer;
}

.overlay-button {
}

/*=======================
VIP dashboard
========================*/

body {
    background-color: #033d66;
}

.available-items-area {
    float: left;
    background-color: aquamarine;
    width: 50%;
}

.order-area {
    float: right;
    background-color: #ffffff;
    width: 50%;
    height: 500px;
}

.drag-items {
    cursor: pointer;
}

#place-order {
    position: absolute;
    bottom: 0px;
}

#info-box-title {
    text-decoration: underline;
}

#info-box-message {
    font-size: 22px;
    text-align: center;
}
