/*
 * File: style.css
 *
 * The stylesheet for the Flying Dutchman!
 *
 * Author: Rosemary Lima
 * -----
 * Last Modified: Wednesday, 9th March 2022
 * Modified By: David Kopp (mail@davidkopp.de>)
 */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.hidden {
    display: none;
}

/*=============Header================*/

header .header-bar {
    background-color: rgba(35, 81, 114, 255);
    padding: 0 15px;
    align-items: center;
    position: relative;
    top: 65px;
    height: 105px;
}
header .header-bar:after {
    clear: both;
}
header .header-bar-column {
    float: left;
    padding-top: 20px;
}
header .logo {
    position: relative;
    left: 30px;
    width: 25%;
}
header .logo img {
    height: 80px;
}
header #header-page-title {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    width: 50%;
    text-align: center;
}
header .available-options {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}
header .available-options button {
    vertical-align: middle;
    border: none;
    background-color: transparent;
    margin: 0 10px;
    font-size: 22px;
    cursor: pointer;
    margin-right: 0;
    padding-left: 15px;
}
header .available-options button i,
header .available-options button a {
    height: 60px;
    width: 60px;
    line-height: 60px;
    color: #fff;
}
header .available-options button .fa-mobile-alt {
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #2f9af0;
    color: #000;
}
header .available-options button span {
    display: inline-block;
    background-color: #f0d420;
    padding: 10px 15px;
    line-height: 40px;
    font-weight: 500;
    min-width: 150px;
}
header .available-options button img {
    height: 60px;
    width: auto;
    line-height: 60px;
}

.lang-container {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    float: right;
}
.lang-flag {
    width: 40px;
    margin-left: 20px;
    cursor: pointer;
}

.lang-flag:hover {
    -webkit-mask-image: linear-gradient(
        -75deg,
        rgba(0, 0, 0, 0.6) 30%,
        #000 50%,
        rgba(0, 0, 0, 0.6) 70%
    );
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

/*===================Body================*/

body {
    background-color: #033d66;
    min-height: 100vh;
    position: relative;
}

article {
    position: relative;
    top: 70px;
}

body::after {
    content: "";
    display: block;
    height: 100px;
    margin-top: 30px;
}

/*=============Footer================*/
footer {
    background-color: rgba(35, 81, 114, 255);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 50px;
    color: white;
    font-size: 18px;
}

footer #logged-in-user-label {
    font-weight: 700;
}
/*
footer .footer-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
footer .footer-align .details-btn {
    max-width: 200px;
    width: 100%;
}
footer .footer-align .details-btn button,
footer .footer-align .logout_btn {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
}*/

/*===================COMMON DEFINITIONS================*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}

/*=============Landing Page / Home Page================*/

#home-login-button {
    cursor: pointer;
}

#home-login-button img {
    width: 15vw;
    height: auto;
}

/*
TODO: Are these definitions relevant? They are currently not used in any HTML file.
.align {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #f2f2f2;
    align-items: center;
}
.align .left h1 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
}
.align .right {
    padding-right: 20px;
}
.align .right ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.align .right ul li a {
    display: inline-block;
    padding: 0 10px;
    color: #000;
    text-decoration: none;
}

.banner {
    background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 54px);
    position: relative;
}
.banner .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.banner .overlay .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}
.banner .overlay .content h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}
*/

/* ??? */

.banner .overlay .content .routes {
    margin: 15px 0;
}
.btn {
    border: none;
    display: inline-block;
    color: #000;
    background-color: #f2f2f2;
    text-decoration: none;
    padding: 10px;
    min-width: 125px;
    text-align: center;
    font-weight: 500;
}
.btn-waiter {
    background-color: #8a3704;
    color: #fff;
    min-width: unset;
}
.btn-bill {
    background-color: #d9810f;
    color: #fff;
    min-width: unset;
}

.login {
    max-width: 400px;
    width: 100%;
    padding: 40px 20px 30px;
    background-color: #fff;
}
.box {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
.box label {
    margin-bottom: 0;
    min-width: 100px;
    margin-bottom: 0;
}
.box .input_box {
    margin-left: 20px;
    max-width: 300px;
    width: 100%;
}
.box .input_box input,
.box .input_box select {
    height: 30px;
    border: 1px solid #e1e1e1;
    outline: none;
    width: 100%;
    padding-left: 10px;
}
.login #login-form-submit {
    width: 100%;
    display: block;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    border: none;
    background-color: #3458eb;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}

.mb-20 {
    margin-bottom: 20px;
}
.text-center {
    text-align: center;
}
.text-white {
    color: #fff;
}
.mt-20 {
    margin-top: 20px;
}

/*=============Menu Page================*/

#menu-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.menu-item-is-low-in-stock {
    /* TODO: Change the look of menu items that are low in stock */
}

/*============VIP_Dashboard=============*/

.sub_header {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    align-items: center;
    color: #fff;
}
.sub_header h1 {
    font-size: 40px;
    font-weight: 500;
}
.sub_header .btn_vip {
    border: none;
    display: inline;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 14px;
}
.items-order-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.items-order-list .item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.items-order-list .item .filter-icon,
.drag-drop-wrapper .filter-icon,
.filter-wrapper .filter-icon {
    width: 75px;
    height: 75px;
    margin: 5px auto;
    cursor: pointer;
}
.items-order-list .item .filter-icon img,
.drag-drop-wrapper .filter-icon img,
.filter-wrapper .filter-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.filter-icon > img:hover {
    -webkit-mask-image: linear-gradient(
        -75deg,
        rgba(0, 0, 0, 0.6) 30%,
        #000 50%,
        rgba(0, 0, 0, 0.6) 70%
    );
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

/*=================Drag & Drop==================*/

/*
TODO: Delete unnecessary definitions
.drag-drop-wrapper {
    max-width: 800px;
    margin: 20px auto;
}
.drag-drop-wrapper .search-box {
    display: flex;
}
.wrapper {
    max-width: 685px;
    width: 100%;
    border: 2px solid #eee;
    margin: 0 auto;
    padding: 20px;
}
.wrapper .input-search-box {
    max-width: 100%;
    position: relative;
    margin-bottom: 10px;
}
.wrapper .input-search-box input {
    height: 46px;
    padding-left: 10px;
    width: 100%;
}
.wrapper .input-search-box .btn-search {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: #3458eb;
    color: #fff;
    cursor: pointer;
}

.drag-drop {
    min-height: 40vh;
}

.drag-drop-area .thumbnail {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    align-items: center;
}
.btn-wrapper .details-btn {
    max-width: 200px;
    width: 100%;
}
.btn-wrapper .details-btn button {
    max-width: 60px;
    width: 100%;
    margin: 5px;
    padding: 5px;
}
.logout .logout_btn {
    padding: 5px;
}
.bg-color {
    background-color: #0c4068;
}
*/

/*=======================
Menu Page
========================*/

.bg-blue {
    background-color: #2f9af0;
}
.filter-button {
    padding: 10px;
    max-width: 1500px;
    margin: 10px auto;
}
.text-right {
    text-align: right;
}
.filter-button button {
    border: 2px solid #6cafe5;
    background-color: #2d9bf1;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.filter-button button.active {
    background-color: #fff;
}
.filter-wrapper {
    max-width: 1500px;
    margin: 20px auto;
    display: flex;
}
.filter-wrapper .filter-list {
    flex: 0 0 15%;
}
.filter-wrapper .filter-result {
    margin-left: -20px;
    flex: 0 0 85%;
}
.filter-wrapper .list-item {
    display: flex;
    flex-wrap: wrap;
}
.filter-wrapper .list-item .item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 17px;
    border: 2px solid #51cfe6;
    width: 240px;
    height: 150px;
    border-radius: 40px;
    margin: 0 10px 10px 0;
    background-color: #6bb2e8;
}
.filter-wrapper .list-item .item ul {
    list-style: none;
}
.filter-wrapper .list-item .item img {
    width: 70px;
    align-self: center;
}

/*=======================
Staff dashboard
========================*/

.order-table-number {
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
}

.order-table-number:hover {
    color: #0c4068;
}

.overview-container {
    padding: 30px;
}

.overview-list-container {
    text-align: center;
    position: relative;
    /* min-width: 320px; */
    overflow: auto;
}

.overview-header {
    padding: 10px 0px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
}

#orders-list-container {
    background-color: #8fd14f;
    font-size: 24px;
    height: 70vh;
}

#inventory-list-container {
    background-color: #79a1c6;
}

.order-details-order-element {
    margin: 10px;
    background-color: #ec9898;
    padding: 10px;
}

.table-element {
    margin: 20px;
}

.order-element {
    background-color: #b4e286;
    padding: 20px;
    margin: 10px;
    text-align: left;
}

.order-element-number {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.order-element-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.order-element-row > div {
    flex: 1 1 auto;
}

.order-list-column-heading {
    font-weight: 600;
}

#order-details-list ul {
    margin-left: 30px;
}

.order-notes-text-field {
    background: transparent;
    border: none;
    font-size: inherit;
}

.order-notes-text-field:hover {
    background-color: lightgray;
}

.order-element ul {
    margin-left: 30px;
}

.order-action-button {
    cursor: pointer;
    font-size: 35px;
    margin-right: 20px;
}

.inventory-element {
    /* margin: 40px 0px; */
    position: relative;
    height: 100px;
    width: 100px;
    margin: 30px auto;
}

img.inventory-element-image {
    display: block;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

img.inventory-has-items-running-low {
    display: block;
    height: auto;
    width: 40px;
    position: absolute;
    top: 0;
    left: 70px;
    z-index: 2;
}

img.inventory-has-enough-items {
    display: none;
}

.overview-container-footer {
    background-color: lightgray;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
}

.overview-buttons {
    background-color: #385871;
    padding: 5px;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.overlay-button {
    background-color: #79a1c6;
    padding: 5px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.overlay-details-label {
    font-weight: 600;
    font-size: 24px;
}

.overlay-details-value {
    font-size: 24px;
}

.overlay-details-heading {
    font-size: 32px;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    /*display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    transform: zoom-in 1s ease;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: lightcoral;
    padding: 30px;
    min-width: 16em;
}

.overlay-close-button {
    width: 1em;
    float: right;
    border: orange;
    cursor: pointer;
}

/*=======================
VIP dashboard
========================*/

.drag-drop > div {
    height: 60vh;
}

.available-items-area {
    float: left;
    background-color: aquamarine;
    width: 50%;
    overflow-y: scroll;
}

.order-area {
    float: right;
    background-color: #ffffff;
    width: 50%;
    position: relative;
}

.drag-items {
    cursor: pointer;
}

#inventory-buttons button {
    border: 2px solid #6cafe5;
    background-color: #2d9bf1;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin: 20px;
}

#place-order {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #2f9af0;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#info-box-title {
    text-decoration: underline;
}

#info-box-message {
    font-size: 22px;
    text-align: center;
}

/*=======================
Manager Dashboard
========================*/

#manager-dashboard {
    color: white;
}

#manager-dashboard h3 {
    margin: 20px 0;
    cursor: pointer;
}

#manager-dashboard h3:hover {
    text-decoration: underline;
}

/*=======================
Animations
========================*/

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

button:hover {
    -webkit-mask-image: linear-gradient(
        -75deg,
        rgba(0, 0, 0, 0.6) 30%,
        #000 50%,
        rgba(0, 0, 0, 0.6) 70%
    );
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

/*=======================
Responsive Design
========================*/

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

/* For mobile phones */
[class*="col-"] {
    width: 100%;
}

/* For tablets */
@media only screen and (min-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

/* For desktop in landscape mode */
@media only screen and (min-width: 768px) and (orientation: landscape) {
    .row {
        margin: 30px 50px;
    }

    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}
